header {
  padding: 40px 0;
  max-height: 80px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
  }

  .header__navigation {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin-left: 2rem;

        a {
          font-family: $font-primary;
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          color: $black;
          line-height: 1;
          transition: color 0.2s ease-in-out;

          &:visited {
            color: $black;
          }
        }
      }
    }
  }

}

