.lightbox__caption {
  display:flex;
  justify-content:space-between;

  p {
    color: white;
    text-transform: uppercase;
    font-family: $font-secondary;
  }
}

//#lightbox {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background: rgba(0, 0, 0, 0.9);
//  display: none;
//  justify-content: center;
//  align-items: center;
//  z-index: 12;
//
//  &.active {
//    display: flex;
//  }
//}
//
//#lightbox .content {
//  position: relative;
//  width: 50%;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//
//  img.lightbox__img {
//    width: 100%;
//    max-height: 80vh;
//    height: 100%;
//    object-fit: contain;
//  }
//
//  .controls {
//    display: flex;
//    justify-content: space-between;
//    width: 100%;
//    padding: 0 20px;
//    margin-top: 10px;
//
//    nav {
//      display: flex;
//      align-items: center;
//
//      span {
//        color: #fff;
//        margin-right: 5px;
//      }
//
//      img {
//        width: 20px; /* Ajustez la taille de la flèche */
//        height: auto;
//      }
//    }
//
//    .lightbox__previous img {
//      transform: rotate(180deg); /* Pour inverser la flèche précédente */
//    }
//  }
//}
//
//.lightbox__close {
//  border: none;
//  background: url('../images/close.svg') center center / 100% 100%;
//  width: 23px;
//  height: 23px;
//  color: #fff;
//  position: absolute;
//  top: 10%;
//  right: 20%;
//  z-index: 14;
//}
//
//
////#lightbox {
////  position: fixed;
////  top: 0;
////  left: 0;
////  right: 0;
////  bottom: 0;
////  background: rgba(0, 0, 0, 0.9);
////  justify-content: center;
////  align-items: center;
////  z-index: 12;
////  display: none;
////
////  &.active {
////    display: flex;
////  }
////
////  .lightbox__close {
////    border: none;
////    background: url('../images/close.svg') center center / 100% 100%;
////    width: 23px;
////    height: 23px;
////    color: #fff;
////    position: absolute;
////    top: 10px;
////    right: 10px; // Ajuster la distance à droite de l'image
////    z-index: 14; // Pour s'assurer que la croix est au-dessus de l'image
////  }
////
////  figure {
////    position: relative;
////    display: flex;
////    justify-content: center;
////    align-items: center;
////    height: 80vh; // Ajuster la hauteur de la figure selon vos besoins
////
////    img {
////      max-width: 50%;
////      max-height: 80vh; // Ajuster la hauteur maximale de l'image
////      object-fit: contain;
////    }
////
////    figcaption {
////      display: flex;
////      justify-content: space-between;
////      align-items: center;
////      width: 100%;
////      padding: 0 20px; // Ajuster l'espacement des flèches par rapport à l'image
////
////      nav {
////        display: flex;
////        align-items: center;
////
////        img {
////          width: 27px;
////          height: 16px;
////          cursor: pointer;
////          transition: opacity 0.3s;
////        }
////
////        span {
////          color: #fff;
////        }
////      }
////
////      .lightbox__previous {
////        transform: translateY(-50%) rotate(180deg);
////        order: 1; // Changer l'ordre des éléments pour que la flèche précédente soit à gauche
////        margin-left: 20px; // Ajuster la distance à gauche de l'image
////      }
////
////      .lightbox__next {
////        order: 2; // Changer l'ordre des éléments pour que la flèche suivante soit à droite
////        margin-right: 20px; // Ajuster la distance à droite de l'image
////      }
////    }
////  }
////}