@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
*, *:before, *:after {
  box-sizing: border-box;
  font-style: "Space Mono", sans-serif;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1.6;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-family: "Space Mono", sans-serif;
  font-size: 4.12rem;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-family: "Space Mono", sans-serif;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #000000;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.description-photo {
  font-family: "Space Mono", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000000;
}

img {
  width: 100%;
  object-fit: cover;
}

.btn-grey {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  border: 2px solid #D8D8D8;
  border-radius: 2px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 0.875rem;
  letter-spacing: 1.4px;
}

.btn-grey {
  color: #000000;
  background: #D8D8D8;
}
.btn-grey:hover {
  background: #000000;
  color: #FFFFFF;
}

header {
  padding: 40px 0;
  max-height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navigation ul li {
  margin-left: 2rem;
}
header .header__navigation ul li a {
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 1;
  transition: all 0.3s;
}
header .header__navigation ul li a:hover {
  font-weight: 700;
}
header .header__navigation ul li a:visited {
  color: #000000;
}

.btn {
  border-radius: 5px;
  font-weight: normal;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.02);
}

.load-more-btn {
  width: 100%;
  height: 50px;
  max-width: 272px;
  padding: 8px 15px;
  font-size: 0.75rem;
  display: block;
  margin: 40px auto;
  border: 1px solid #D8D8D8;
  background-color: #D8D8D8;
  color: #000000;
}
.load-more-btn:hover {
  color: #FFFFFF;
  background-color: #000000;
  font-weight: bold;
}

#contact-modal {
  max-width: 597px;
  max-height: 720px;
  height: auto;
  border: 4px solid #000000;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 0;
}
#contact-modal .modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#contact-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
#contact-modal .contact-modal__title {
  overflow: hidden;
}
#contact-modal .contact-modal__title h2 {
  letter-spacing: 1.3px;
}
#contact-modal .contact-modal__title h2::before, #contact-modal .contact-modal__title h2::after {
  content: "Contact";
}
#contact-modal .contact-modal__title h2:nth-of-type(1) {
  position: absolute;
  top: 0.7rem;
  left: -10rem;
}
#contact-modal .contact-modal__title h2:nth-of-type(2) {
  margin-top: 4rem;
}
#contact-modal form {
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 263px;
  margin-bottom: 1.5rem;
}
#contact-modal form .contact-form__fields {
  width: 100%;
}
#contact-modal label {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
#contact-modal input[type=text],
#contact-modal input[type=email],
#contact-modal textarea {
  width: 100%;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
}
#contact-modal input[type=text],
#contact-modal input[type=email] {
  padding: 0.8rem 1rem;
}
#contact-modal textarea {
  height: 200px;
  resize: none;
}
#contact-modal button[type=submit] {
  width: 100%;
  margin-top: 1rem;
}

#footer {
  height: 40px;
  border-top: 1px solid #000000;
}
#footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 620px;
  padding: 1px 0 8px 0;
  margin: 0 auto;
}
#footer a {
  color: #000000;
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

#hero {
  width: 100%;
  max-width: 1400px;
  background: no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  margin: 0 auto;
}
#hero h1 {
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.options .filters {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.options .sort {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.options select {
  border: 2px solid #C4C4C4;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem;
  align-self: stretch;
  width: 46%;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.0225rem;
}
.options .filters select {
  margin-right: 1rem;
}

.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
.two-columns-grid img {
  height: 500px;
}

#single {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #000;
}

.single__content {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  max-height: 70vh;
}
.single__content_infos {
  flex: 1;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: flex-end;
}
.single__content_infos div {
  max-width: 420px;
  margin-bottom: 2rem;
}
.single__content_infos p {
  margin-top: 1.25rem;
}
.single__content_img {
  flex: 1;
}
.single__content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
