@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
*, *:before, *:after {
  box-sizing: border-box;
  font-style: "Space Mono", sans-serif;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1.6;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: none;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-family: "Space Mono", sans-serif;
  font-size: 4.12rem;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.87rem;
    line-height: 48px;
  }
}

h3 {
  font-family: "Space Mono", sans-serif;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #000000;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.description-photo {
  font-family: "Space Mono", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000000;
}

img {
  width: 100%;
  object-fit: cover;
}

.btn, .btn-grey {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  border: 2px solid #D8D8D8;
  border-radius: 2px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 0.875rem;
  letter-spacing: 1.4px;
  text-decoration: none;
  text-align: center;
}

.btn-grey {
  color: #000000;
  background: #D8D8D8;
}
.btn-grey:hover {
  background: #000000;
  color: #FFFFFF;
}

.btn, .btn-grey {
  display: inline-block;
  padding: 1rem 5rem;
  transition: all 0.3s;
  border: 2px solid #D8D8D8;
  border-radius: 2px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;
  font-family: "Space Mono", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.btn-grey {
  color: #000000;
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8;
}
.btn-grey:hover {
  color: #FFFFFF;
  background-color: #000000;
  font-weight: bold;
}
.btn-load-more {
  margin: 40px auto;
  display: block;
}

header {
  padding: 40px 0;
  max-height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navigation ul li {
  margin-left: 2rem;
}
header .header__navigation ul li a {
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 1;
  transition: all 0.3s;
}
header .header__navigation ul li a:hover {
  font-weight: 700;
}
header .header__navigation ul li a:visited {
  color: #000000;
}

#contact-modal {
  max-width: 597px;
  max-height: 720px;
  height: auto;
  border: 4px solid #000000;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 0;
  animation: fadeIn 1s;
}
#contact-modal .modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#contact-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
#contact-modal .contact-modal__title {
  overflow: hidden;
}
#contact-modal .contact-modal__title h2 {
  letter-spacing: 1.3px;
}
#contact-modal .contact-modal__title h2::before, #contact-modal .contact-modal__title h2::after {
  content: "Contact";
}
#contact-modal .contact-modal__title h2:nth-of-type(1) {
  position: absolute;
  top: 0.7rem;
  left: -10rem;
}
#contact-modal .contact-modal__title h2:nth-of-type(2) {
  margin-top: 4rem;
}
#contact-modal form {
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 263px;
  margin-bottom: 1.5rem;
}
#contact-modal form .contact-form__fields {
  width: 100%;
}
#contact-modal label {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
#contact-modal input[type=text],
#contact-modal input[type=email],
#contact-modal textarea {
  width: 100%;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
}
#contact-modal input[type=text],
#contact-modal input[type=email] {
  padding: 0.8rem 1rem;
}
#contact-modal textarea {
  height: 200px;
  resize: none;
}
#contact-modal button[type=submit] {
  width: 100%;
  margin-top: 1rem;
}

.lightbox__caption {
  display: flex;
  justify-content: space-between;
}
.lightbox__caption p {
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.card-photo {
  position: relative;
  height: 500px;
}
.card-photo img {
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.card-photo .overlay-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
  z-index: 10;
  opacity: 0;
  display: flex;
  align-items: flex-end;
}
.card-photo:hover .overlay-photo {
  opacity: 1;
}
.card-photo__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px 20px 20px;
}
.card-photo__description a.icon-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.card-photo__description a.icon-eye svg {
  color: white;
  width: 46px;
  height: 31.204px;
}
.card-photo__description a.icon-fullscreen {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 34px;
  height: 34px;
  z-index: 11;
}
.card-photo__description p {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

#footer {
  height: 40px;
  border-top: 1px solid #000000;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 620px;
  padding: 1px 0 8px 0;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #footer ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  #footer li {
    margin-bottom: 1rem;
  }
}
#footer a {
  color: #000000;
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  #footer a {
    font-size: 1.3rem;
  }
}

#hero {
  width: 100%;
  max-width: 1400px;
  background: no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  margin: 0 auto;
}
#hero h1 {
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 640px) {
  .options {
    flex-direction: column;
    padding: 0 20px;
  }
}
.options .filters {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .options .filters {
    width: 100%;
  }
}
.options .sort {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 640px) {
  .options .sort {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
}
.options select {
  border: 2px solid #C4C4C4;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem;
  align-self: stretch;
  width: 46%;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.0225rem;
}
@media screen and (max-width: 900px) {
  .options select {
    padding: 0.5rem 0;
  }
}
.options .filters select {
  margin-right: 1rem;
}

.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .two-columns-grid {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }
}

.no-content-message {
  margin-top: 20px;
}

#single {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 768px) {
  #single {
    flex-direction: column;
  }
}

.single__content {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  max-height: 70vh;
}
@media screen and (max-width: 768px) {
  .single__content {
    flex-direction: column;
    max-height: none;
    padding: 1.25rem 3.5rem;
  }
}
.single__content_infos {
  flex: 1;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .single__content_infos {
    order: 2;
    border: none;
  }
}
.single__content_infos div {
  max-width: 420px;
  margin-bottom: 2rem;
}
.single__content_infos p {
  margin-top: 1.25rem;
}
.single__content_img {
  flex: 1;
}
.single__content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 640px) {
  .single__content_img {
    order: 1;
  }
}

.single__interaction {
  display: flex;
  width: 100%;
  column-gap: 20px;
  padding: 1rem 0;
}
@media screen and (max-width: 768px) {
  .single__interaction {
    flex-direction: column;
    border-top: 1px solid #000;
  }
}

.single__interaction_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .single__interaction_contact {
    flex-direction: column;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 768px) {
  .single__interaction_contact .contact {
    margin: 1rem 0;
  }
}

.single__interaction_navigate {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .single__interaction_navigate {
    display: none;
  }
}
.single__interaction_navigate .wrapper {
  width: 80px;
  display: flex;
  flex-direction: column;
}
.single__interaction_navigate .navigation-thumbnail {
  height: 70px;
}
.single__interaction_navigate .navigation-thumbnail img {
  height: 100%;
}
.single__interaction_navigate .navigation-arrows {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}
.single__interaction_navigate .navigation-arrows svg {
  cursor: pointer;
}

#related-content h3 {
  margin: 4rem 0 2.5rem;
}
@media screen and (max-width: 768px) {
  #related-content h3 {
    margin: 1.5rem 0;
    text-align: center;
  }
}

.singe__home-link {
  display: flex;
  justify-content: center;
}
.singe__home-link a {
  display: block;
  margin: 40px auto;
}
@media screen and (max-width: 768px) {
  .singe__home-link {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
