.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }
}

.no-content-message {
  margin-top: 20px;
}