.options{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;

  .filters {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .sort {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  select {
    border: 2px solid $silver;
    border-radius: 8px;
    background-color: $white;
    padding: 0.5rem 1rem;
    align-self: stretch;
    width: 46%;
    font-family: $font-secondary;
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.0225rem;
  }

  .filters select {
    margin-right: 1rem;
  }

}