#single {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  border-bottom : 1px solid #000;
}

.single__content {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  max-height: 70vh;

  &_infos {
    flex: 1;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: flex-end;

    div {
      max-width: 420px;
      margin-bottom: 2rem;
    }

    p {
      margin-top: 1.25rem;
    }
  }

  &_img {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.single__interaction {
  display: flex;
  width: 100%;
  column-gap: 20px;
  padding: 1rem 0;
}

.single__interaction_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50%;
}

.single__interaction_navigate {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;

  .wrapper {
    width: 80px;
    display: flex;
    flex-direction: column;
  }

  .navigation-thumbnail {
    height: 70px;

    img {
      height: 100%;
    }
  }

  .navigation-arrows {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    //height: 100%;

    svg {
      cursor: pointer;
    }
  }
}



#related-content {
  h3 {
    margin: 4rem 0 2.5rem;
  }
}

