.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    max-width: none;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

h1 {
  font-family: $font-primary;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: $black;

  @media screen and (max-width: 640px) {
    font-size: 3rem;
    line-height: normal;
  }
}

h2 {
  font-family: $font-primary;
  font-size: 4.12rem;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  color: $black;

  @media screen and (max-width: 768px) {
    font-size: 2.87rem;
    line-height: 48px;
  }
}

h3 {
  font-family: $font-primary;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: $black;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: $black;
}

.description-photo {
  font-family: $font-primary;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $black;
}

img {
  width: 100%;
  object-fit: cover;
}

%btn-shared {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  //transition: color 0.2s ease-in-out;
  border: 2px solid $gray-medium;
  border-radius: 2px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 0.875rem;
  letter-spacing: 1.4px;
  text-decoration: none;
  text-align: center;
}

.btn {
  &-grey {
    @extend %btn-shared;
    color: $black;
    background: $gray-medium;
  }

  &-grey:hover {
    background: $black;
    color: $white;
  }
}