$red-primary: #E00000;
$red-accent: #FE5858;
$red-light: #FFD6D6;
$black: #000000;
$white: #FFFFFF;
$midnight-blue: #313144;
$silver: #C4C4C4;
$gray-medium: #D8D8D8;
$gray-light: #E5E5E5;

$font-primary: 'Space Mono', sans-serif;


$container: 1150px;
$full-width: 1400px;
